*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue(34, 34, 34);
    color:black;
}
 
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc700;
    height: 60px;
}

main{
    margin-left: 8%;
    margin-right: 8%;
}

.tudo_amo{
    display: flex;
    flex-direction: column;
 }

.perfil{
    border-radius: 50%;
    height: 450px;
}


.tituluzinho{
    display: flex;
    justify-content: end;
}

.tituluzinho{
    display: flex;
    flex-direction: row;
    gap: 20%;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.tituluzinho a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: black;
    transition: linear 0.15s;
}

.tituluzinho a:hover{
    color: #ffc700;
}

.interessante{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 5%;
}

.fotoenome{
    display: flex;
    flex-direction: row;
}

.fotoenome div h1{
    font-size: 50px;
}

.mel{
    color: #ffc700;
    display: flex;
    margin-left: 75%;
    margin-top: -8%;
}   

.abelha{
    height: 150px;
    display: flex;
    margin-left: 10%;
    margin-top: -5%;
}

.direitinha{
    display: flex;
    flex-direction: column;
}

.qse{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
}

.oqsa{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.oqsa img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.qeenb{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qeenb div img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.infos_mel{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    gap: 20px;
}

.infos_mel div{
    gap: 30px;
}

footer{
    height: 100px;

}
.aijesus img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 60px;
}
h2{
    color: #ffc700;
}
footer{
    background-color: #ffc700;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;

    
}